body,html{font-size: 18px}


/* heeader */
	#top {
		background-color: #b5c9d2;
		background-size:cover; height:15%;
		width:100%;
		padding:35px;
		box-sizing:border-box;
		text-align:center;
		font-size:40px; margin:0px;
		position:set;
		color:#483c35;
		}

/* footer */
		#bottom {
			background-color: #b5c9d2;
			background-size:cover;
			height:15%;
			width:100%;
			padding:35px;
			padding-top: 20px;
			box-sizing:border-box;
			text-align:center;
			font-size:40px; margin:0px;
			position:set;
			color:#483c35;
			}


			#menu {
				margin: auto;
  			width: 30%;
  			padding: 10px;
				background-color: rgba(201, 186, 177, .8);
				}

			#about-us {
				margin: auto;
				width: 60%;
				padding: 10px;
				background-color: rgba(201, 186, 177, .8);
				}



			#form-submit-button {
				color:#ED7117;
				border: none;
				background:#fff;
				font-size: 24px;
				}

			#form-submit-button:hover {
				color:#fff;
				border: none;
				background:#ED7117;
				font-size: 24px;
				}

/* gallery */
		div.gallery {
		  background-color: rgba(225,225,225,0);
		}

		div.gallery:hover {
		}

		div.gallery img {
		  width: 80%;
			overflow: hidden;
			object-fit: contain;
			float: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		* {
		  box-sizing: border-box;
		}

		.responsive {
		  padding: 0 6px;
		  float: left;
		  width: 24.99999%;
		}

		@media only screen and (max-width: 700px) {
		  .responsive {
		    width: 49.99999%;
		    margin: 6px 0;
		  }
		}

		@media only screen and (max-width: 500px) {
		  .responsive {
		    width: 100%;
		  }
		}

		.clearfix:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		* {
		  box-sizing: border-box;
		}

/* columns */
		.column {
		  float: left;
		  width: 50%;
		  padding: 10px;
		}

		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		@media screen and (max-width: 500px) {
		  .column {
		    width: 100%;
		  }
		}

/* map */
		.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* TEXT FORMATTING */

/* title  */
			.ss-text{
				font-size: 50px;
				text-align:center;
				color:#483c35;
				font-weight: bold;
			}

/* title for locations and reviews */
		.text-title{
			font-size: 36px;
			text-align:center;
			box-sizing:border-box;
			margin-bottom:10px;
			color: #483c35;
			font-weight: bold;
			/* background-color:rgba(181,201,210,.5); */
			}

/* name of the reviewers */
		.review-name{
			font-size: 30px;
			text-align:left;
			box-sizing:border-box;
			margin-top:20px;
			margin-left:10px;
			color: #483c35;
			}

/* reviews left */
		.review-body{
			font-size: 24px;
			text-align:left;
			box-sizing:border-box;
			margin-top:10px;
			margin-bottom:10px;
			margin-left:20px;
			color: #483c35;
			}

/* contact info */
			.contact-info{
				font-size: 30px;
				text-align:right;
				color:#483c35;
				margin-left:0px;
			}


/* hours info */
			.hours{
				font-size: 30px;
				text-align:center;
				box-sizing:border-box;
				margin-top:10px;
				margin-bottom:10px;
				color: #483c35;
			}

/* menu title */
			.menu-title{
				font-size: 30px;
				text-align:left;
				box-sizing:border-box;
				margin-top:30px;
				color: #483c35;
				}

/* menu items */
			.menu-items{
				font-size: 24px;
				text-align:left;
				box-sizing:border-box;
				margin-top:20px;
				margin-bottom:20px;
				color: #483c35;
			}

/* price */
			.menu-price{
				font-size: 24px;
				float: right;
				color: #483c35;
				/* text-align:right; */
			}


/* contact title */
			.contact-category{
				font-size: 30px;
				text-align:center;
				box-sizing:border-box;
				margin-top:30px;
				margin-left:10px;
				color: #483c35;
			}

/* contact info */
			.contact-body{
				font-size: 24px;
				text-align:center;
				box-sizing:border-box;
				margin-top:10px;
				margin-bottom:10px;
				margin-left:20px;
				color: #483c35;
			}

/* contact form */
			.contact-form{
				text-align: center;
				color: #483c35;
			}


	.order-form{
		font-size: 24px;
		text-align:left;
		box-sizing:border-box;
		margin-top:10px;
		margin-bottom:10px;
		margin-left:20px;
		color: #483c35;
		}

		.photo-column {
		  padding: 5px;
			margin-top: 5px;
			display: inline;
		}

		.whole {
			text-align: center;
		}





/* link formatting */
		a {
			text-decoration:none;
			color: #ED7117;
			padding: 10px;
			font-size: 36px;
			}
		a:hover{
			text-decoration: underline;
			}

		a#title {
			font-size: 60px;
			text-align:center;
			color:#483c35;
			font-weight: bold;
		}
